button{
    display: block;
    margin:0 auto;
    padding:8px 30px;
    margin-top:10px;
}
h1{
   margin-top:11px;
}
h2{
    text-align: center;
}
img{
    border-radius: 50%;
}
.repos{
    background-color:aquamarine;
}
.card{
     background-color:aquamarine;
}
button{
    margin-top:30px;
    margin-left: 100px;
    background-color:aquamarine;
    border-radius:20px;
    border:none;
}
.hero{
    background-color:rgb(184, 183, 183);
}